*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainColor: #BCAA99;

html{
  width:100%;
  height:100%;
  background-color: $mainColor;
}

body{
  width: 80%;
  margin: 0 auto;
}

.header{
  height: 120px;
  background-color: $mainColor;
}

.mainSection{
  height: 710px;
  background-color: #C6BED1;
  display: flex;
}

.weatherInformationBox{
  height:710px;
  width: 25%;
  border: 1px solid black;
}
.weatherInformationHead{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  height: 70px;
}

.weatherInformations{

  height: 640px;
  width: 100%;
  p{
    margin-bottom: 122px;
    font-size: 24px;
    text-align: center;
  }
}

.weatherInfoBtn{
  width: 50%;
  height: 42px;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
}
.getInf{
  background-color: #55acee;
}
.getCurrPos{
  background-color: #2ecc71;
}

.mapPicture{
  height:710px;
  width: 75%;
}

.footer{
  height: 120px;
  background-color: $mainColor;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footerText{
  font-size: 30px;
  color:#040F0F;
}

.footerSocials{
  li{
   list-style: none;
   font-size: 50px;
    display: inline-block;
    margin-left: 50px;
  }

  li:nth-child(1){
    a{
      color: #176BB7;
    }
  }

  li:nth-child(2){
    a{
      color:#292D32;
    }
  }
}
